language: android
sudo: false
dist: xenial
android:
  components:
  - platform-tools
  - tools
  - build-tools-28.0.3
  - android-28
  - sys-img-armeabi-v7a-android-26
  - extra-android-support
  - extra-android-m2repository
before_install:
  - yes | sdkmanager "platforms;android-28"
env:
  global:
  - GRADLE_OPTS="-Xmx512m -XX:MaxPermSize=512m"
